.App {
  height: 100vh;
  width: 90vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: #34495e;
}

.App-logo {
  width: 7vmin;
  margin: 0;
  pointer-events: none;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 1.5em;
  margin: 0em 0 0.5em 0;
  font-family: "Times New Roman", Times, serif;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 0.5em;
}
h5 {
  font-size: 0.25em;
}

button {
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
}

.button-default {
  background: #247ba0;
  color: #fff;
}
input,
textarea {
  margin: 2% 0;
  width: 70%;
}

label {
  font-size: 10;
  color: gray;
  padding: 10px;
  margin: 0 10%;
}

form {
  text-align: center;
}

.img_desc {
  width: 10%;
  border-radius: 10%;
}
input[type="button"] {
  color: #34495e;
}

.features-small-item {
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  margin:  1em;
}

.main-container{
  display: flex;
  flex-direction: row;

}
.main-view {
  min-width: 75%;
}
.sidebar {
  min-width: 25%;
}

.content-container {
  display: block;
  height: 100%;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  display: block;
  margin: 10% 0;
  background-color: #247ba0;
  padding: 10px;
  border-radius: 15px;
}
a {
  padding: 15px;
  color: #fff;
  text-decoration: none;
}

.vertical {
  border-left: 1px solid #000;
  position: absolute;
  height: 10%;
}

.item-header {
  color: #black;
}
.item-bg {
  background-size: "cover";
  background-repeat: "no-repeat";
}
.bg-black {
  background-color: #000;
}
.scrollable {
  width: 100%;
  overflow: scroll;
}



@media screen and (max-width: 1000px){
  .App{
    overflow: scroll;
    flex-direction: column;

  }
  .main-container{
    flex-direction: column;
    overflow: scroll;
    height: 100vh;

  }
  .main-view{
    width: inherit;
  }
  .sidebar{
    width: inherit;
  }
}