/* Style pour desktop */
.card {
  padding: 1em;
  justify-content: space-evenly;
  flex-direction: column;
}

#title-card{
  color: #34495e;
  position: absolute;
  top: 1em;
  left: 1em;

}

#subtitle-card{
  position: absolute;
  top: 4em;
  left: 4em;
}
.left{
  width: 50%;
  text-align: center;
}
.right{
  width: 50%;

}
