/* Style pour desktop */
.card {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;
}
.text-container{
  flex-grow: 1;
  text-align: left;
  line-height: 1em;

}
.title-card{
  color: #34495e;
  font-weight: lighter;
}

.img_desc {
  border-radius: 10%;
  max-width: 500px;
  width: 80%;
}
.img-container{
width: 25%;
display: flex;
justify-content: left;
}
.center{
  justify-content: center;
  align-items: center;
}
.space-between{
  justify-content: space-between;
  align-items: center;
}
.space-around{
  justify-content: space-around;
  align-items: center;
}

.third{
  width: 33%;
}
.pad-15{padding: 1.5em;}
.label-radio{
    margin: 3%;
}

#my-radio-group{
  margin-bottom: 150px;
}