/* Style pour desktop */
.card {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;
}
.text-container{
  flex-grow: 1;
  text-align: left;
  line-height: 1em;

}
.title-card{
  color: #34495e;
  font-weight: lighter;
}

.subtitle-card{
}
.left{
  width: 50%;
}
.right{
  width: 50%;

}
.img_desc {
  border-radius: 10%;
  width: 80%;

}

.img-container{
width: 25%;
display: flex;
justify-content: left;
}